.loginout{
    border: none;
    height: 100%px;
}

.loginout:hover{
    .logt{color: rgb(5, 141, 132); font-size: 14px;transition: ease-in .2s;}
    .loginout{ boder:1px solid rgb(249, 89, 44); }
}

.avadar:hover{
    width: 40px;
    height: 40px;
    transition: ease-in .2s;
}
.ant-select-selection{
    border-radius: 20px;
    margin-top: 4px;
}

